/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
    user-select: none;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@font-face {
    font-family: 'SF Pro Medium';
    src: url('@/assets/fonts/SFPro/SFProDisplay-Medium.eot');
    src: local('@/assets/fonts/SFPro/SF Pro Display Medium'), local('@/assets/fonts/SFPro/SFProDisplay-Medium'),
        url('@/assets/fonts/SFPro/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/SFPro/SFProDisplay-Medium.woff2') format('woff2'),
        url('@/assets/fonts/SFPro/SFProDisplay-Medium.woff') format('woff'),
        url('@/assets/fonts/SFPro/SFProDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: 'SF Pro Semibold';
    src: url('@/assets/fonts/SFPro/SFProDisplay-Semibold.eot');
    src: local('@/assets/fonts/SFPro/SF Pro Display Semibold'), local('@/assets/fonts/SFPro/SFProDisplay-Semibold'),
        url('@/assets/fonts/SFPro/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
        url('@/assets/fonts/SFPro/SFProDisplay-Semibold.woff2') format('woff2'),
        url('@/assets/fonts/SFPro/SFProDisplay-Semibold.woff') format('woff'),
        url('@/assets/fonts/SFPro/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

::-webkit-scrollbar {
    width: 6px;
    border-radius: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(1 2 3 / 40%);
    border-radius: 10px;
}